@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@font-face {
  font-family: "Speedee";
  src: url(./fonts/Speedee/Speedee_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Bold";
  src: url(./fonts/Speedee/Speedee_Bd.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Light";
  src: url(./fonts/Speedee/Speedee_Lt.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Italic";
  src: url(./fonts/Speedee/Speedee_It.ttf) format("truetype");
}

:root {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.234375rem) * 0.5178)), 1.2rem);
  min-height: 0vw;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Speedee", Arial, Helvetica, sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.navbar .navbar__container {
  width: 100%;
  height: 100%;
  min-width: 340px;
  max-width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar .navbar__container .navbar__container__button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.navbar__logo img {
  height: 40px;
  padding-left: 10px;
}

.navbar__menu--desktop {
  display: none;
}

.navbar__menu--desktop a {
  margin-inline: 10px;
}

.navbar__menu--desktop a svg {
  color: #1d5030;
}

.navbar__menu--mobile {
  width: 100%;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 60px;
  height: 300px;
  display: none;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #1d5030;
}

.navbar__menu--mobile a {
  font-size: 1.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .hamburger {
  margin-right: 15px;
}

.transparent {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: none;
}

.intro {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-inline: auto;
}

.intro svg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 500px;
  min-width: 340px;
  max-width: 850px;
}

.intro__logo {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.intro__logo img {
  height: 200px;
}

.intro__logo h2 {
  color: white;
  font-size: 25px;
  font-family: "Speedee Light";
  letter-spacing: 2.5px;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-inline: 10px;
  min-width: 340px;
  max-width: 850px;
  margin-inline: auto;
  margin-top: 20px;
}

.quote img {
  height: 140px;
  border-radius: 50%;
  margin-inline: 10px;
}

.quote blockquote {
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  font-family: "Speedee Italic";
  line-height: 32px;
}

.quote blockquote span {
  font-size: 1.7rem;
}

.quote blockquote .raykrok {
  font-size: 1.4rem;
  font-family: "Speedee Bold";
  color: rgba(15, 15, 15, 0.905);
  color: #1d5030;
}

hr {
  margin-top: 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  min-width: 340px;
  max-width: 850px;
  margin-inline: auto;
}

.text {
  min-width: 340px;
  max-width: 850px;
  margin-inline: auto;
}

.text svg {
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: 380px;
  min-width: 340px;
  max-width: 850px;
}

.text p {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-inline: 20px;
}

.text p strong {
  color: #1d5030;
}

.text .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 340px;
  max-width: 850px;
}

.text .flexbox .hamburger {
  height: 180px;
  width: 180px;
  opacity: 95%;
}

.text .flexbox .cuarto {
  background-image: url(./images/pictocuartolibradequeso.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-position: center;
}

.text .flexbox .patatas {
  background-image: url(./images/pictopatatasfritas.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-position: center;
}

@media screen and (min-width: 445px) {
  .text svg {
    margin-top: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */