@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

// Color Variables
$yellow: #ffb81c;
$green: #1d5030;

//Min and Max width Variables
$min-width: 300px;
$max-width: 750px;

// Font import.
@font-face {
  font-family: "Speedee";
  src: url(../fonts/Speedee/Speedee_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Bold";
  src: url(../fonts/Speedee/Speedee_Bd.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Light";
  src: url(../fonts/Speedee/Speedee_Lt.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Italic";
  src: url(../fonts/Speedee/Speedee_It.ttf) format("truetype");
}

// Responsive font. 
:root {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.234375rem) * 0.5178)), 1.1rem);
  min-height: 0vw;
}

// Box sizing rules 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Speedee", Arial, Helvetica, sans-serif;
}

// Anchor tag doesn't change color when clicked
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

// Navbar 
.navbar {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;


  &__container {
    width: 100%;
    height: 100%;
    min-width: $min-width;
    max-width: $max-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;


    &__button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
    }
  }

  &__logo {

    img {
      height: 40px;
      padding-left: 10px;
    }
  }

  &__menu--desktop {
    display: none;

    a {
      margin-inline: 10px;

      svg {
        color: $green;

      }
    }
  }

  &__menu--mobile {
    width: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 60px;
    height: 300px;
    display: none;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: $green;


    a {
      font-size: 1.6rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }



  .hamburger {
    margin-right: 15px;
  }
}

// Transparent wall for navbar menu

.transparent {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: rgb(21, 21, 21);
  opacity: 60%;
  display: none;
}

// Top SVG 

body {
  position: relative;
  

  .top_svg {
    position: absolute;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;

    svg {
      width: 100%;
      max-width: $max-width;
    }
  }
}

// Transparent div for maps
.transparent_restaurant {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: none;
}

// Restaurants grid

.restaurants {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 230px;

  &__card__gamarra {
    width: 330px;
    height: 450px;
    margin-inline: auto;
    -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.133);
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.145);
    margin-top: 20px;
    position: relative;

    &__city {
      position: absolute;
      z-index: 2;
      margin-top: 5px;
      margin-left: 5px;
      color: $green;
      font-size: 20px;
    }

    &__services {
      display: none;
      background: white;
      grid-template-columns: 83px 83px 83px 81px;
      grid-template-rows: 84px 84px 91px;
      position: absolute;
      z-index: 2;
      

      img {
        width: 100%;
        
      }
    }

    .restaurants__card__paragraph {
      margin-top: 5px;
      color: $green;

    }

    p {
      max-width: $max-width;
      font-size: 1.1rem;
      text-align: center;
      font-size: 2rem;
      color: rgb(0, 0, 0);
      height: 30px;
      opacity: 90%;
    }

    iframe {
      display: block;
      margin-inline: auto;
      display: none;
      position: relative;
      z-index: 3;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;
      color: #00000099;
      border: none;
      cursor: pointer;
      height: 80px;
      width: 330px;
      background-color: #ffb71cc5;
      margin-top: 11px;

      img {
        height: 43px;
        margin-right: 10px;
      }

    }

  }

  &__card__armentia {
    width: 330px;
    height: 450px;
    margin-inline: auto;
    -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.133);
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.145);
    margin-top: 40px;

    &__city {
      position: absolute;
      z-index: 2;
      margin-top: 5px;
      margin-left: 5px;
      color: $green;
      font-size: 20px;
    }

    &__services {
      display: none;
      background: white;
      grid-template-columns: 83px 83px 83px 81px;
      grid-template-rows: 84px 84px 91px;
      position: absolute;
      z-index: 2;
      

      img {
        width: 100%;
        
      }
    } 

    .restaurants__card__paragraph {
      margin-top: 5px;
      color: $green;

    }

    p {
      max-width: $max-width;
      font-size: 1.1rem;
      text-align: center;
      font-size: 2rem;
      color: rgb(0, 0, 0);
      height: 30px;
      opacity: 90%;
    }

    iframe {
      display: block;
      margin-inline: auto;
      display: none;
      position: relative;
      z-index: 3;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;
      color: #00000099;
      border: none;
      cursor: pointer;
      height: 80px;
      width: 330px;
      background-color: #ffb71cc5;
      margin-top: 11px;

      img {
        height: 43px;
        margin-right: 10px;
      }

    }

  }

  &__card__gorbeia {
    width: 330px;
    height: 450px;
    margin-inline: auto;
    -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.133);
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.145);
    margin-top: 40px;

    &__city {
      position: absolute;
      z-index: 2;
      margin-top: 5px;
      margin-left: 5px;
      color: $green;
      font-size: 20px;
    }

    &__services {
      display: none;
      background: white;
      grid-template-columns: 83px 83px 83px 81px;
      grid-template-rows: 84px 84px 91px;
      position: absolute;
      z-index: 2;
      

      img {
        width: 100%;
        
      }
    }

    .restaurants__card__paragraph {
      margin-top: 5px;
      color: $green;

    }

    p {
      max-width: $max-width;
      font-size: 1.1rem;
      text-align: center;
      font-size: 2rem;
      color: rgb(0, 0, 0);
      height: 30px;
      opacity: 90%;
    }

    iframe {
      display: block;
      margin-inline: auto;
      display: none;
      position: relative;
      z-index: 3;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;
      color: #00000099;
      border: none;
      cursor: pointer;
      height: 80px;
      width: 330px;
      background-color: #ffb71cc5;
      margin-top: 11px;

      img {
        height: 43px;
        margin-right: 10px;
      }

    }

  }


  // h2 {
  //   margin-left: 15px;
  //   max-width: 400px;
  //   margin-inline: auto;
  //   padding-left: 10px;
  //   font-size: 1.6rem;
  //   color: $green;
  // }




  &__card__grid--gamarra {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 81px 83px 83px 83px;
    grid-template-rows: 83px 83px 83px 60px;
    row-gap: 5px;
    position: relative;
    z-index: 1;

    picture {
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 5;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      grid-row-start: 4;
      opacity: 96%;
    }
  }

  &__card__grid--armentia {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 81px 83px 83px 83px;
    grid-template-rows: 83px 83px 83px 60px;
    row-gap: 5px;
    position: relative;
    z-index: 1;

    picture {
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 5;
      

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      grid-row-start: 4;
      opacity: 96%;
    }
  }

  &__card__grid--gorbeia {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 81px 83px 83px 81px;
    grid-template-rows: 83px 83px 83px 60px;
    row-gap: 5px;
    position: relative;
    z-index: 1;

    picture {
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 5;
    
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      grid-row-start: 4;
      opacity: 96%;
    }
  }


}



// introduction

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;

  h1 {
    color: white;
    font-size: 1.8rem;
  }

  img {
    height: 150px;
  }
}

// Horizontal Line

hr {
  margin-top: 30px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  min-width: $min-width;
  max-width: $max-width;
  margin-inline: auto;
}

// Footer

footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

 .copyright {
   color: $green;
   text-align: center;
 }
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  
  .svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
   
    svg {
      max-width: 768px;
      min-width: $min-width;
    }
  }
}

.magnify_gamarra {
  cursor: pointer;
}

.magnify_armentia {
  cursor: pointer;
}

.magnify_gorbeia {
  cursor: pointer;
}