@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@font-face {
  font-family: "Speedee";
  src: url(../fonts/Speedee/Speedee_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Bold";
  src: url(../fonts/Speedee/Speedee_Bd.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Light";
  src: url(../fonts/Speedee/Speedee_Lt.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Italic";
  src: url(../fonts/Speedee/Speedee_It.ttf) format("truetype");
}

:root {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.234375rem) * 0.5178)), 1.1rem);
  min-height: 0vw;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Speedee", Arial, Helvetica, sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
}

.navbar__container {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar__container__button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.navbar__logo img {
  height: 40px;
  padding-left: 10px;
}

.navbar__menu--desktop {
  display: none;
}

.navbar__menu--desktop a {
  margin-inline: 10px;
}

.navbar__menu--desktop a svg {
  color: #1d5030;
}

.navbar__menu--mobile {
  width: 100%;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 60px;
  height: 300px;
  display: none;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #1d5030;
}

.navbar__menu--mobile a {
  font-size: 1.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .hamburger {
  margin-right: 15px;
}

.transparent {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: #151515;
  opacity: 60%;
  display: none;
}

body {
  position: relative;
}

body .top_svg {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .top_svg svg {
  width: 100%;
  max-width: 750px;
}

.transparent_restaurant {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: none;
}

.restaurants {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 230px;
}

.restaurants__card__gamarra {
  width: 330px;
  height: 450px;
  margin-inline: auto;
  -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.133);
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.145);
  margin-top: 20px;
  position: relative;
}

.restaurants__card__gamarra__city {
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  margin-left: 5px;
  color: #1d5030;
  font-size: 20px;
}

.restaurants__card__gamarra__services {
  display: none;
  background: white;
  -ms-grid-columns: 83px 83px 83px 81px;
      grid-template-columns: 83px 83px 83px 81px;
  -ms-grid-rows: 84px 84px 91px;
      grid-template-rows: 84px 84px 91px;
  position: absolute;
  z-index: 2;
}

.restaurants__card__gamarra__services img {
  width: 100%;
}

.restaurants__card__gamarra .restaurants__card__paragraph {
  margin-top: 5px;
  color: #1d5030;
}

.restaurants__card__gamarra p {
  max-width: 750px;
  font-size: 1.1rem;
  text-align: center;
  font-size: 2rem;
  color: black;
  height: 30px;
  opacity: 90%;
}

.restaurants__card__gamarra iframe {
  display: block;
  margin-inline: auto;
  display: none;
  position: relative;
  z-index: 3;
}

.restaurants__card__gamarra button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  color: #00000099;
  border: none;
  cursor: pointer;
  height: 80px;
  width: 330px;
  background-color: #ffb71cc5;
  margin-top: 11px;
}

.restaurants__card__gamarra button img {
  height: 43px;
  margin-right: 10px;
}

.restaurants__card__armentia {
  width: 330px;
  height: 450px;
  margin-inline: auto;
  -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.133);
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.145);
  margin-top: 40px;
}

.restaurants__card__armentia__city {
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  margin-left: 5px;
  color: #1d5030;
  font-size: 20px;
}

.restaurants__card__armentia__services {
  display: none;
  background: white;
  -ms-grid-columns: 83px 83px 83px 81px;
      grid-template-columns: 83px 83px 83px 81px;
  -ms-grid-rows: 84px 84px 91px;
      grid-template-rows: 84px 84px 91px;
  position: absolute;
  z-index: 2;
}

.restaurants__card__armentia__services img {
  width: 100%;
}

.restaurants__card__armentia .restaurants__card__paragraph {
  margin-top: 5px;
  color: #1d5030;
}

.restaurants__card__armentia p {
  max-width: 750px;
  font-size: 1.1rem;
  text-align: center;
  font-size: 2rem;
  color: black;
  height: 30px;
  opacity: 90%;
}

.restaurants__card__armentia iframe {
  display: block;
  margin-inline: auto;
  display: none;
  position: relative;
  z-index: 3;
}

.restaurants__card__armentia button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  color: #00000099;
  border: none;
  cursor: pointer;
  height: 80px;
  width: 330px;
  background-color: #ffb71cc5;
  margin-top: 11px;
}

.restaurants__card__armentia button img {
  height: 43px;
  margin-right: 10px;
}

.restaurants__card__gorbeia {
  width: 330px;
  height: 450px;
  margin-inline: auto;
  -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.133);
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.145);
  margin-top: 40px;
}

.restaurants__card__gorbeia__city {
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  margin-left: 5px;
  color: #1d5030;
  font-size: 20px;
}

.restaurants__card__gorbeia__services {
  display: none;
  background: white;
  -ms-grid-columns: 83px 83px 83px 81px;
      grid-template-columns: 83px 83px 83px 81px;
  -ms-grid-rows: 84px 84px 91px;
      grid-template-rows: 84px 84px 91px;
  position: absolute;
  z-index: 2;
}

.restaurants__card__gorbeia__services img {
  width: 100%;
}

.restaurants__card__gorbeia .restaurants__card__paragraph {
  margin-top: 5px;
  color: #1d5030;
}

.restaurants__card__gorbeia p {
  max-width: 750px;
  font-size: 1.1rem;
  text-align: center;
  font-size: 2rem;
  color: black;
  height: 30px;
  opacity: 90%;
}

.restaurants__card__gorbeia iframe {
  display: block;
  margin-inline: auto;
  display: none;
  position: relative;
  z-index: 3;
}

.restaurants__card__gorbeia button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  color: #00000099;
  border: none;
  cursor: pointer;
  height: 80px;
  width: 330px;
  background-color: #ffb71cc5;
  margin-top: 11px;
}

.restaurants__card__gorbeia button img {
  height: 43px;
  margin-right: 10px;
}

.restaurants__card__grid--gamarra {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 81px 83px 83px 83px;
      grid-template-columns: 81px 83px 83px 83px;
  -ms-grid-rows: 83px 83px 83px 60px;
      grid-template-rows: 83px 83px 83px 60px;
  row-gap: 5px;
  position: relative;
  z-index: 1;
}

.restaurants__card__grid--gamarra picture {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.restaurants__card__grid--gamarra picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurants__card__grid--gamarra img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  -ms-grid-row: 4;
      grid-row-start: 4;
  opacity: 96%;
}

.restaurants__card__grid--armentia {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 81px 83px 83px 83px;
      grid-template-columns: 81px 83px 83px 83px;
  -ms-grid-rows: 83px 83px 83px 60px;
      grid-template-rows: 83px 83px 83px 60px;
  row-gap: 5px;
  position: relative;
  z-index: 1;
}

.restaurants__card__grid--armentia picture {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.restaurants__card__grid--armentia picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurants__card__grid--armentia img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  -ms-grid-row: 4;
      grid-row-start: 4;
  opacity: 96%;
}

.restaurants__card__grid--gorbeia {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 81px 83px 83px 81px;
      grid-template-columns: 81px 83px 83px 81px;
  -ms-grid-rows: 83px 83px 83px 60px;
      grid-template-rows: 83px 83px 83px 60px;
  row-gap: 5px;
  position: relative;
  z-index: 1;
}

.restaurants__card__grid--gorbeia picture {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.restaurants__card__grid--gorbeia picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurants__card__grid--gorbeia img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  -ms-grid-row: 4;
      grid-row-start: 4;
  opacity: 96%;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
}

.introduction h1 {
  color: white;
  font-size: 1.8rem;
}

.introduction img {
  height: 150px;
}

hr {
  margin-top: 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  min-width: 300px;
  max-width: 750px;
  margin-inline: auto;
}

footer {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

footer .copyright {
  color: #1d5030;
  text-align: center;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

body .svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

body .svg svg {
  max-width: 768px;
  min-width: 300px;
}

.magnify_gamarra {
  cursor: pointer;
}

.magnify_armentia {
  cursor: pointer;
}

.magnify_gorbeia {
  cursor: pointer;
}
/*# sourceMappingURL=restaurants.css.map */