@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

// Color Variables
$yellow: #ffb81c;
$green: #1d5030;

//Min and Max width Variables
$min-width: 300px;
$max-width: 400px;

// Font import.
@font-face {
  font-family: "Speedee";
  src: url(../fonts/Speedee/Speedee_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Bold";
  src: url(../fonts/Speedee/Speedee_Bd.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Light";
  src: url(../fonts/Speedee/Speedee_Lt.ttf) format("truetype");
}

@font-face {
  font-family: "Speedee Italic";
  src: url(../fonts/Speedee/Speedee_It.ttf) format("truetype");
}

// Responsive font. 
:root {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.234375rem) * 0.5178)), 1.1rem);
  min-height: 0vw;
}

// Box sizing rules 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Speedee", Arial, Helvetica, sans-serif;
}

// Anchor tag doesn't change color when clicked
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

// Navbar 
.navbar {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;


  &__container {
    width: 100%;
    height: 100%;
    min-width: $min-width;
    max-width: $max-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;


    &__button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
    }
  }

  &__logo {

    img {
      height: 40px;
      padding-left: 10px;
    }
  }

  &__menu--desktop {
    display: none;

    a {
      margin-inline: 10px;

      svg {
        color: $green;

      }
    }
  }

  &__menu--mobile {
    width: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 60px;
    height: 300px;
    display: none;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: $green;


    a {
      font-size: 1.6rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }



  .hamburger {
    margin-right: 15px;
  }
}

// Transparent wall 

.transparent {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(21, 21, 21);
  opacity: 60%;
  display: none;
}

// Top SVG 

body {
  position: relative;

  .top_svg {
    position: absolute;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;

    svg {
      width: 100%;
      max-width: 768px;
    }
  }
}

//Transparent div
.transparent_restaurant {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(21, 21, 21);
  opacity: 60%;
  display: none;
}

// Restaurants grid

.restaurants {
  width: 100%;
  margin-top: 50px;
  
  .restaurants__flex-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
    margin-inline: auto;

    p {
      margin-block: 10px;
      max-width: $max-width;
      font-size: 1.1rem;
      
  
      span {
        color: $yellow;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    button {
      font-size: 1.1rem;
      color: #000000;
      display: inline-block;
      border: none;
      background-color: transparent;
      cursor: pointer;

      span {
        color: $yellow;
      }
    }
  }

  h2 {
    color: $green;
    margin-left: 15px;
    max-width: $max-width;
    margin-inline: auto;
    padding-left: 10px;
    font-size: 1.6rem;
  }

  
  iframe {
    display: block;
    margin-inline: auto;
    display: none;
    position: relative;
    z-index: 1;
  }

  &__gamarra {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px;

    picture {
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 5;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      grid-row-start: 4;
    }
  }
}

// introduction

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;

  h1 {
    color: white;
    font-size: 1.8rem;
  }

  img {
    height: 150px;
  }
}

// Horizontal Line

hr {
  margin-top: 30px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  min-width: $min-width;
  max-width: $max-width;
  margin-inline: auto;
}