// Color Variables
$yellow: #ffb81c;
$green: #1d5030;

//Min and Max width Variables
$min-width: 300px;
$max-width: 950px;

.navbar {
  height: 70px;

  &__container {
    max-width: $max-width;
  }

  &__container__button {
    display: none;
  }

  &__menu--desktop {
    display: flex;
    margin-top: 5px;
    margin-right: 5px;


    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70px;
      color: $green;
      margin-inline: 10px;
      font-size: 15px;
    }
  }

  &__logo {

    img {

      height: 50px;
    }
  }
}